nodered/influxdb.json
[
    {
        "id": "5dfc6bb4.e52534",
        "type": "mqtt in",
        "z": "31c0f069.6e0ff",
        "name": "",
        "topic": "homee/devices/status/#",
        "qos": "2",
        "broker": "504010af.ff61a",
        "x": 222,
        "y": 480,
        "wires": [
            [
                "bcb26a10.481348"
            ]
        ]
    },
    {
        "id": "ebe394cd.94d2f8",
        "type": "function",
        "z": "31c0f069.6e0ff",
        "name": "",
        "func": "var tokens = msg.topic.split(\"/\");\nif(!msg.payload.unit) {\n    msg.payload.unit='n/a'\n}\nmsg.url =\"http://ds1515.fritz.box:8086/write?u=iot;p=iot;db=iot\";\nmsg.payload = msg.payload.name.replace(/\\s+/g, '_') + \",type=\" + msg.payload.typeString + \",unit=\" + msg.payload.unit + \" value=\" + msg.payload.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 482,
        "wires": [
            [
                "af0c03c1.c3ea6"
            ]
        ]
    },
    {
        "id": "af0c03c1.c3ea6",
        "type": "http request",
        "z": "31c0f069.6e0ff",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 763.9999885559082,
        "y": 482.00002098083496,
        "wires": [
            []
        ]
    },
    {
        "id": "bcb26a10.481348",
        "type": "json",
        "z": "31c0f069.6e0ff",
        "name": "",
        "pretty": "false",
        "x": 409.00000381469727,
        "y": 482,
        "wires": [
            [
                "ea5108c5.9b2c88",
                "ebe394cd.94d2f8"
            ]
        ]
    },
    {
        "id": "504010af.ff61a",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": ""
    }
]